fastapi
uvicorn
python-multipart

python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-groq

pypdf
pymupdf

sentence-transformers

pinecone

motor
pymongo

numpy

pydantic
pydantic-settings
